* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    background-color: rgb(235, 235, 235);
}

/* ------------------ */

/* HERO/HEADER/NAV PAGE */

/* ------------------ */

header {
    background-color: rgb(28, 28, 28);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 1000;
    transition: 0.4s;
}

nav .logo {
    color: white;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 5px 0px 0px violet, 8px 0px 0px rgb(0, 217, 255);
    margin: 2rem;
}

.nav-links ul {
    display: flex;
    padding: 2rem;
    width: 100%;
}

.nav-links {
    transition: 0.4s;
}

.nav-links a {
    color: rgb(211, 211, 211);
    margin: 0 1rem;
    font-family: 'Roboto', sans-serif;
    position: relative;
    cursor: pointer;
}

.nav-links a:not(#resume):hover {
    color: white;
}

.nav-links a:not(#resume)::after {
    content: '';
    position: absolute;
    background-color: rgb(0, 217, 255);
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -2px;
    border-radius: 30px;
    transition: 0.3s;
}

.nav-links a:not(#resume):hover::after {
    width: 100%;
}

.nav-links #resume {
    color: white;
    padding: 10px 20px;
    border: 2px solid violet;
    border-radius: 50px;
    transition: 0.2s;
    font-family: 'Montserrat', sans-serif;
}

.nav-links #resume:hover {
    background-color: violet;
    color: white;
}

#bars {
    display: none;
    position: absolute;
    right: 2rem;
    top: 3rem;
    justify-content: center;
    transition: 0.4s;
    color: white;
    font-size: 2em;
    cursor: pointer;
}

.text-box {
    bottom: 4%;
    position: absolute;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 0 4%;
}

.text-box h1 {
    font-size: 8.5em;
    color: transparent;
    -webkit-text-stroke: 3px white;
    background: url(./images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 15s linear infinite;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.text-box p:not(#bio) {
    font-size: 2em;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

#bio {
    font-family: 'Poppins', sans-serif;
    width: 60%;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.row p {
    color: violet;
}

.socials a {
    text-decoration: none;
}

.socials a i {
    color: rgb(211, 211, 211);
    font-size: 3em;
    margin: 0px 10px;
    transition: 0.2s;
}

.socials a i:hover {
    color: white;
    text-shadow: 5px 0px 0px violet, 8px 0px 0px rgb(0, 217, 255);
}

.border1 {
    clip-path: polygon(0 0, 0 100%, 100% 0);
    background-color: rgb(28, 28, 28);
    width: 100%;
    height: 15vh;
}

/* ------------------ */

/* ABOUT PAGE */

/* ------------------ */

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#about .about-content {
    width: 40%;
    margin: 2rem;
    background-color: rgb(28, 28, 28);
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgb(0 0 0 / 0.9);
    text-align: center;
}

#about .about-content h4 {
    font-family: "Poppins", sans-serif;
    color: violet;
    font-size: 2rem;
}

#about .about-content p {
    font-family: "Poppins", sans-serif;
    color: rgb(138, 143, 142);
}

#about .about-content .lang p {
    font-weight: bold;
    color: white;
}

#about .about-content .lang {
    position: relative;
}

#about .about-content .lang::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px solid violet;
    width: 100%;
    height: 1px;
}

/* ------------------ */

/* PROJECT PAGE */

/* ------------------ */

#projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.proj-div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 3rem;
    width: 100%;
}

.proj-intro {
    text-align: center;
    padding: 3rem 0;
}

.proj-intro h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5rem;
    background-color: violet;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
    color: white;
}

.proj-div img {
    width: 60%;
    box-shadow: 0 3px 15px rgb(0 0 0 / 0.9);
}

.project-text {
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
}

.project-text h2 {
    font-family: 'Montserrat', sans-serif;
}

.project-text h2, p, .buttons {
    padding: 1rem;
}

.buttons a {
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.2s;
    box-shadow: 5px 6px 0px rgb(138, 143, 142);
    margin: 10px;
    background-color: black;
    border: 2px solid black;
    color: white;
}

.buttons a:hover {
    background-color: violet;
    border: 2px solid violet;
}

.buttons {
    display: flex;
    width: 100%;
}

/* ------------------ */

/* CONTACT PAGE */

/* ------------------ */

#contact {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact .contact-text h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
    background-color: violet;
    box-shadow: 10px 10px 0px black;
    color: white;
    margin: 2.5rem 0 0;
}

form {
    width: 50%;
    padding: 3rem 2rem 0;
    margin: 3rem 0;
    background-color: rgb(28, 28, 28);
    position: relative;
    box-shadow: 0 3px 15px rgb(0 0 0 / 0.9);
    overflow: hidden;
    border-radius: 20px;
    text-align: center;
}

form #status {
    color: white;
    margin: 0 0 1rem;
}

.input-group {
    margin: 0 0 2rem;
    position: relative;
}

.row .input-group {
    width: 45%;
}

form .row {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

input, textarea {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid rgb(138, 143, 142);
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: white;
    resize: none;
    transition: 0.2s;
}

input:focus~label, textarea:focus~label, input:valid~label, textarea:valid~label {
    top: -20px;
    font-size: 0.75rem;
    color: white;
}

input:focus, textarea:focus, input:valid, textarea:valid {
    border-bottom: 1px solid white;
}

label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: text;
    padding: 10px;
    transition: 0.2s;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: rgb(138, 143, 142);
}

button {
    position: relative;
    z-index: 1;
    outline: none;
    background-color: violet;
    color: white;
    width: 25%;
    padding: 0.5rem 0;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    transition: 0.2s;
    border-radius: 50px;
    border: 1px solid violet;
    margin: 0 0 1rem;
    z-index: 1;
}

button:hover {
    background-color: white;
    border: 1px solid white;
    color: black;
}

form h4 {
    color: violet;
    font-size: 2rem;
    position: relative;
    z-index: 1;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(46, 45, 45);
    clip-path: polygon(90% 0, 100% 0, 100% 100%, 90% 100%);
    width: 100%;
    height: 100%;
}

.info {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 0.75rem;
    margin: 0 0 1rem;
    width: 100%;
}

.info a, .info p {
    color: white;
}

.info a:hover {
    text-decoration: underline;
}

form .logo {
    position: absolute;
    top: 0;
    right: 1rem;
    color: white;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 5px 0px 0px violet, 8px 0px 0px rgb(0, 217, 255);
}